
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); 
* {
    box-sizing: border-box;
  }
  h3 {
    margin-top: 50px;
  }
  .navbar {
    margin: top 0;
  }
  /* Slideshow container */
  .box-coin {
    max-width: 1000px;
    position: absolute;
    margin: auto;
    margin: top 50px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    transform: translateY(-4rem);
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
/* gears */

  .main-container {
    padding-top: 50%;
  }
  
  .display-4 {
    text-align: center;
  }
 

  .SliderView
  {
      position: relative;
      transform: translateY(2rem);
  }

  .dots
  {
      position: relative;
      transform: translateY(100rem);
  }

 


  

.title{
    text-align: center;
    position: relative;
    transform: translateX(-15rem);
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 3rem;
 
}

.logo
{
    width: 14rem;
    height: 8rem;
    position: relative;
    transform: translateX(-2rem) translateY(-1rem);
}

.mySlides{
    position: relative;
    transform: translateY(-3.8rem);
}

.core{
    font-style: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color:dodgerblue;
}

.container{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
  }
  .container .main-card{
    display: flex;
    justify-content: space-evenly;
    width: 300%;
    transition: 1s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  #three:checked ~ .main-card{
    margin-left: -200%;
  }
  .container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }
  .main-card .cards .card{
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main-card .cards .card:hover{
    transform: translateY(-15px);
  }
  .cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cards .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #FF676D;
    margin-bottom: 14px;
  }
  .card .content .img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
  .card .content .job{
    font-size: 20px;
    color: #FF676D;
  }
  
   .container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
    
  }
  .button label{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #FF676D;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button label.active{
    width: 35px;
  }
  #one:checked ~ .button .one{
    width: 35px;
  }
  #one:checked ~ .button .two{
    width: 15px;
  }
  #one:checked ~ .button .three{
    width: 15px;
  }
  #two:checked ~ .button .one{
    width: 15px;
  }
  #two:checked ~ .button .two{
    width: 35px;
  }
  #two:checked ~ .button .three{
    width: 15px;
  }
  
  #three:checked ~ .button .one{
    width: 15px;
  }
  
  #three:checked ~ .button .two{
    width: 15px;
  }
  
  #three:checked ~ .button .three{
    width: 35px;
  }
  input[type="radio"]{
    display: none;
  }
  @media (max-width: 768px) {
    .main-card .cards .card{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card .cards .card{
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }
  }
  .content .img{
    display: inline-block;
      height: 130px;
      width: 150px;
      margin-bottom: 50px;
      z-index: 1;
      position: relative;
    
  }
   .content .img::before{
  
    content: "";
      width: 100%;
      height: 0;
      border-radius: 50%;
      background-color: #FF676D;
      position: absolute;
      bottom: 105%;
      right: 0;
      left: 0;
      opacity: 0.9;
      transform: scale(2.5);
      transition: all 0.3s linear 0s;
  }
  
  .container:hover .img::before {
      height: 100%;
    }
    
    .content .img::after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    
    .content .img img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      transform: scale(1.2);
      transition: all 0.9s ease 0s;
    }
    
    .content:hover .img img {
      box-shadow: 0 0 0 14px #f7f5ec;
      transform: scale(0.8);
    }
  
    
    .content {
        padding: 30px 0 40px;
        margin-bottom: 10px;
        background-color: #f7f5ec;
        text-align: center;
        overflow: hidden;
        position: relative;
        box-shadow: 20px 20px 50px 15px grey;
      }
    
    
    
    
    
    
    
    
    .content .media-icons {
      width: 100%;
      padding: 0;
      margin: 0;
     
      position: absolute;
      bottom: -100px;
      left: 0;
      transition: all 0.5s ease 0s;
    }
    
    .content:hover .media-icons {
      bottom: 0;
      
    }
    
    .content .media-icons {
      display: inline-block;
         padding-left: .4rem;
    }
    
    .content .media-icons  a {
      text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
      color: white;
      transition: all 0.3s ease 0s;
      text-decoration: none;
    }
    
  
  
  
  
  
  
  
  
    .card .content .media-icons{
    margin-top: 30px;
    display: flex;
    position: relative;
    transform: translateX(2rem);
  
  }
  .media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #FF676D;
    transition: all 0.3s ease;
  }
  .media-icons a:hover{
    color: #FF676D;
    background-color: #fff;
    border-color: #FF676D;
  }
  









  .container .slide{
      position: relative;
      top: 50%;
      transform: translateY();
    
      height: 45px;
      width: 45px;
      cursor: pointer;
      

     
  }


  .container .right{
      right: 0;
      position: relative;

      transform: translateY(-16rem)translateX(24rem);

      
  }

  .container .left{
    
    position: relative;

    transform: translateY(-16rem) translateX(-30rem);
}

  .slide .span{
      font-size: 10rem;
      line-height: 41px;
      color: white;
      cursor: pointer;

      
  }


  .Footer
  {
      background-image: url("Assets/Drone\ 1.jpg") ;
      
  }
.display-4{
    font-size: 6rem;
    color: darkblue;
}

.lead{
    font-size: 2rem;
    color: white;
   
}

.college-logo{
    width: 16rem;
   
    
}

.college{
    text-align: center;
    font-size: 4rem;
    color: blue;
}

.college-text{
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    
}

.dropdown-menu
{
    color: #717171;
    border-style: none;
}
  

.icons
{
    font-size: 10rem;
    position: relative;
    
    
}

.feedback
{
    font-size: 2rem;
    transition: 0.3s;
}

.icons a{
    color: #FF676D;
    
}

.fab {
    transition: 0.3s;
}

.fab:hover{

    color: purple;
    
    transform: translateY(-10px);
}
.fa{
    transition: 0.3s;
}

.fa:hover{

    color: purple;
    
    transform: translateY(-10px);
}

.fas{
    color: #FF676D;
}

.fas:hover{
    color: blue;
    
}



.Events
{
    font-size: 3rem;
    position: relative;
    transform: translateY(-2rem);
    color: crimson;
}











.nav div {
  height: 4px;
  background-color: black;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}
.nav {
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
  
}
.one {
  width: 30px;
}
.two {
  width: 20px;
}
.three {
  width: 25px;
}

.nav:hover div {
  width: 30px;
}

.topnav {
  overflow: hidden;
  background-color: none;
  position: relative;
  
}


.topnav #myLinks {
  display: none;
  
}



.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display:list-item;
  width: 46%;
}



.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



.topnav a:hover {
  background-color: blue;
  color: black;
}


.dropdown-btn {

text-decoration: none;
font-size: 20px;
color: black;
display: block;

background: none;
width: 20%;
text-align: left;
cursor: pointer;
outline: none;

border-style: none;
}


.dropdown-container {
display: none;
background-color: blue;
padding-left: 8px;
width: 20%;
border-style: none;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
float: left;
padding-right: 8px;
border-style: none;
}



